/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
  -webkit-text-size-adjust: 100%; /* evita zoom automático no Safari */
  }

  body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 5px;
    background-color: #f9f9f9;
    color: #222;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-bottom: auto;
  }
  
  .logo {
    /* background-color: #007bff; */
    height: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 20px;
  }

  h1 {
    text-align: center;
    font-size: 18px;
    /* margin-bottom: 90px; */
    /* font-weight: 700; */
    color: #333;
  }

  img {
    width: 4rem;
    margin-bottom: 8px;
    margin-right: 5px;
  }
  
  /* Container inputs e selects */
  label {
    display: block;
    margin-bottom: 3px;
    margin-left: 6%;
    font-weight: 80%;
    color: #444;
  }
  
  hr {
    margin-top: 4%;
    margin-bottom: 6%;
  }

  input[type="number"],
  select {
    width: 90%;
    padding: 3px 6px;
    margin-bottom: 13px;
    margin-left: 5%;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
    transition: border-color 0.3s ease;
  }
  
  input[type="number"]:focus,
  select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Botões alinhados lado a lado, abaixo dos inputs */
  .buttons-container {
    display: flex;
    width: 80%;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
  
  button {
    flex: 1 1 20%; /* cada botão ocupa cerca de metade da largura com flexível */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 0;
    margin-left: 10px;
    border-radius: 7px;
    /* font-size: 23px; */
    cursor: pointer;
    transition: background-color 0.25s ease;
    min-width: 100px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Resultados */
  #resultado, #comparacao {
    margin-top: 15px;
    font-size: 16px;
    word-wrap: break-word;
    color: #222;
  }
  
  .maior {
    color: green;
    font-weight: 700;
  }
  
  .menor {
    color: red;
    font-weight: 700;
  }
  
  /* Para telas maiores, limite o conteúdo */
  @media(min-width: 600px) {
    body {
      max-width: 600px;
      margin-top: 0;
    }
  }
  